* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.35;

}

body {
  margin: 0 15%;

}

header {
  font-variant: small-caps;
}

#title-page {
  position: relative;
}

#subtitle {
  visibility: hidden;
  position: absolute;
  right: 10%;
  padding: 5px;
}

.headerimg {
  background-image: url("img/torontomap.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  text-align: center;
  margin: auto;
  margin-top: -5%;
  background-size: contain;
}

nav {
  position: absolute;
  bottom: 25%;
  text-align: center;
  margin: auto;
}

nav, h1, h4, .display-project-box-text {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

li {
  display: inline;
  padding: 0 1em;
}

li:hover {
  font-weight: bold;
}

main {
  margin: -5% 0 auto;

}

.display-project-box {
  display: block;
  border: 5px solid black;
  width: 200px;
  height: 300px;
  margin: 2% 2% 2% 5%;
  float: left;
  position: relative;
}

.display-project-box:hover {
  border: 10px solid black;
}

.display-project-box-icon {
  border: 2px solid black;
  margin: 5% auto;
  width: 160px;
  height: 200px;
}

.display-project-box-text {
  font-size: 16px;
  margin: 5% auto;
  text-align: center;
}

span {
  vertical-align: sub;
}

footer {
  clear:both;
  background-color: black;
  color: white;
  width: 100%
  position: relative;
  margin-top: 1em;
  margin-bottom: 0;
  position: static;
}
